<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>

  <!-- .container>.row>.col -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Witaj Vue</h1>

        <div id="app" v-cloak>
          {{ message }}

          <input type="text" v-bind:value="inputValue" v-on:input="inputValue = $event.target.value">

          <my-message :value="message"></my-message>

          <button v-on:click="updateMessage">Change message!</button>

        </div>

        <div id="elem1"></div>
        <div id="elem2"></div>

        <h3>Przyklad</h3>
        <p v-pre>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ab architecto sint nobis, incidunt
          recusandae {{repudiandae}} provident sapiente ipsa repellendus deserunt quidem vero illum fuga est atque sunt
          quasi in?</p>

      </div>
    </div>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script>
    var MessageElem = Vue.extend({
      name: 'my-message',
      props: ['value'],
      template: `<div class="alert alert-info">
        {{$props.value}}
      </div>`,
      data: () => ({
        message: 'Hello Vue!',
      })
    })
  </script>
  <script>

    var shared = { playlist_id: 123 }

    // var m1 = new MessageElem({ el: '#elem1', data:{ shared } })
    // var m2 = new MessageElem({ data:{ shared } })
    // m2.$mount('#elem2')


    var app = new Vue({
      el: '#app',
      components: {
        'my-message': MessageElem,
      },
      data: {
        message: 'Hello Vue!',
        inputValue: '',
        shared
      },
      methods: {
        updateMessage(event) {
          // console.log(event,this)
          this.message = 'Lubie placki!'
          // elem.message = 'Lubie placki!'
        }
      }
    })
  </script>
</body>

</html>