<template>
  <div class="row">
    <div class="col">
      <AlbumCard v-if="album" :album="album" />
      <div v-else>Loading...</div>
    </div>
    <div class="col">
      <audio controls class="w-100" :src="track && track.preview_url" ref="audio" />

      <TracksList v-if="album" :tracks="album.tracks.items" @play="play($event)" />
    </div>
  </div>
</template>

<script>
import AlbumCard from "../components/AlbumCard.vue";
import TracksList from "../components/TracksList.vue";
import { getSession } from "../services/auth";

export default {
  components: {
    AlbumCard,
    TracksList
  },
  beforeRouteEnter(to, from, next) {
    to, from, next;
    // next(false);
    // next('/nie_masz_uprawnien')

    // makeAlbumRequest({params: to.params.id }).then( data => {
    //   next( componentThis => { componentThis.album = data})
    // }, error => next(error));

    // console.log(this)
    next();
  },
  data: () => ({
    session: getSession(),
    album: null,
    track: null
  }),
  created() {
    const { album_id } = this.$route.params;
    this.fetchAlbum(album_id);
  },
  mounted() {
    this;    
  },
  methods: {
    play(track) {
      this.track = track;
      this.$nextTick(() => {
        this.$refs["audio"].volume = 0.2;
        this.$refs["audio"].play();
      });
    },
    fetchAlbum(album_id) {
      // console.log(album_id);

      this.$http
        .get("albums/" + album_id, {
          // params: {}
        })
        .then(
          // resp => console.log(resp.body),
          resp => (this.album = resp.body),
          error => (this.message = error.body.error.message)
        )
        .finally(() => (this.loading = false));
    }
  }
};
</script>

<style>
</style>