<template>
  <div class="row">
    <div class="col">
      <div class="alert alert-info" v-if="loading">Loading</div>

      <PlaylistList
        :playlists="playlists"
        :selected="playlist && playlist.id"
        @selectPlaylist=" select($event) "
      />

      <button class="btn btn-success float-right mt-3" @click="create()">Create playlist</button>
    </div>
    <div class="col">
      <div v-if="playlist && mode =='show'">
        <PlaylistDetails :playlist="playlist" @edit="edit()" />
      </div>

      <div v-else-if="playlist && mode == 'edit'">
        <PlaylistEditForm :playlist="playlist" @save="save($event)" @cancel="cancel()" />
      </div>

      <div v-else-if="mode == 'create'">
        <PlaylistEditForm @save="save($event)" @cancel="cancel()" />
      </div>

      <div v-else>Please select playlists</div>
    </div>
  </div>
</template>

<script>
import PlaylistList from "../components/PlaylistList";
import PlaylistDetails from "../components/PlaylistDetails";
import PlaylistEditForm from "../components/PlaylistEditForm";
import { mapGetters, /*  mapState, mapMutations, */ mapActions } from "vuex";

export default {
  name: "Playlists",
  components: {
    PlaylistList,
    PlaylistDetails,
    PlaylistEditForm
  },
  computed: {
    // ...mapState(['mode'])
    ...mapGetters("playlists", [
      "playlists",
      "selectedPlaylist",
      "loading",
      "mode"
    ]),
    ...mapGetters("playlists", { playlist: "selectedPlaylist" })
  },
  data: () => ({}),
  created() {
    this.fetchPlaylists();
  },
  methods: {
    // ...mapMutations('playlists',[]) // => commit()
    ...mapActions("playlists", [
      "edit",
      "cancel",
      "create",
      "save",
      "fetchPlaylists"
    ]),
    ...mapActions("playlists", {
      select: "selectPlaylist"
    })
  }
};
</script>

<style>
</style>