<template>
  <div>
    <!-- .row*2>.col -->
    <div class="row">
      <div class="col">
        <SearchForm
          class="rounded"
          :style="{border:'1px solid black'}"
          title="test"
          placeholder="Search albums"
          :value="query"
          @search="searchAlbums($event)"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="alert alert-danger" v-if="message">{{message}}</div>
        <div class="alert alert-info" v-if="loading">Loading ...</div>
        <CardGrid v-else :items="results" />
      </div>
    </div>
  </div>
</template>


<script>
import CardGrid from "../components/CardGrid.vue";
import SearchForm from "../components/SearchForm.vue";

export default {
  components: {
    SearchForm,
    CardGrid
  },
  created() {
    const { query = "batman" /* , type, page */ } = this.$route.query;
    this.fetchAlbums(query);
  },
  watch: {
    "$route.query": {
      handler(next /* , prev */) {
        this.fetchAlbums(next.query);
      }
    }
  },
  data: () => ({
    loading: false,
    message: "",
    query: "batman",
    results: [
      {
        id: "0sNOF9WDwhWunNAHPD3Baj",
        images: [
          {
            url:
              "https://i.scdn.co/image/07c323340e03e25a8e5dd5b9a8ec72b69c50089d"
          }
        ],
        name: "She's So Unusual"
      }
    ]
  }),
  methods: {
    searchAlbums(query) {
      this.$router.push({
        path: "/search",
        query: { query }
      });
    },
    fetchAlbums(query) {
      this.query = query;
      this.loading = true;

      this.$http
        .get("search", {
          params: {
            type: "album",
            query
          }
        })
        .then(
          resp => (this.results = resp.body.albums.items),
          error => (this.message = error.body.error.message)
        )
        .finally(() => (this.loading = false));
    }
  }
};
</script>

<style>
</style>