<template>
  <div class="card">
    <img :src="album.images[0].url" class="card-img-top" alt="..." @click="showDetails" />

    <div class="card-body">
      <h5 class="card-title">
        <!-- <router-link :to="'/search/album/' + album.id ">{{album.name}}</router-link> -->
        <router-link
          :to="{
            name:'AlbumDetails', 
            params:{
              album_id: album.id
            }
          }"
        >{{album.name}}</router-link>
      </h5>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    album: {
      type: Object,
      required: true
    }
  },
  methods: {
    showDetails() {
      this.$router.push(
        "/search/album/" + this.album.id,
        console.log,
        console.error
      );
    }
  }
};
</script>

<style>
/* .card{
  min-width:25%;
  max-width:25%;
} */
</style>