
<template>
  <div>
    <div class="card-group">
        <!-- <AlbumCard 
            v-for="item in items" 
            :album="item" 
            :key="item.id"
        /> -->

      <template v-for="(item,index) in items" >

        <AlbumCard :album="item" :key="item.id" />

        <div style="flex-basis: 100%; height:0;" 
             v-if="(index +1) % 4 == 0" :key="index"></div>

      </template>
    </div>
  </div>
</template>

<script>
import AlbumCard from "./AlbumCard.vue";

export default {
  props: {
    'items': {
      required: true,
      type: Array
    }
  },
  components: {
    AlbumCard
  }
};
</script>

<style>
</style>

