<template>
  <!-- .list-group>.list-group-item*3{Test}-->

  <div class="list-group">
    <template v-for="(playlist,index) in playlists">
      <div
        class="list-group-item"
        :key="playlist.id"
        :class="{
          active: selected == playlist.id
        }"
        @click.self="select( playlist.id )"
      >
        <span>{{index+1}}. {{playlist.name}}</span>
        <span class="close" @click.stop="remove">&times;</span>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: ["playlists", "selected"],
  methods: {
    select(playlist_id) {
      // Avoid mutating props (data from parent)
      // this.selected = playlist_id;
      this.$emit('selectPlaylist', playlist_id)
      console.log('select')
    },
    remove(){
      console.log('remove')
    }
  },
  mounted() {},
  data: () => ({})
};
</script>

<style scoped>
p {
  color: red;
}
</style>
