<template>
  <div>
    <!-- .form-group>label{Name:}+input.form-control -->
    <!-- <pre>{{ playlist }}</pre> -->

    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" ref="placki" v-model="playlistDraft.name" />
      <!-- :value=" playlistDraft.name | uppercase "
      @input=" playlistDraft.name = validate($event.target.value) "-->
      {{ 170 - playlistDraft.name.length }} / 170
    </div>

    <div class="form-group">
      <input type="checkbox" v-model="playlistDraft.public" />
      <label>Public</label>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" v-model="playlistDraft.description"></textarea>
    </div>

    <button @click="$emit('cancel')">Cancel</button>
    <button @click="$emit('save',playlistDraft)">Save</button>
  </div>
</template>

<script>
// import Vue from 'vue'
export default {
  props: {
    playlist: {
      type: Object,
      required: false,
      default: () => ({
        name: "",
        public: false,
        description: "New playlist"
      })
    }
  },
  watch: {
    // playlist(next){  this.playlistDraft = { ...next } }
    playlist: {
      handler(next /*  , prev */) {
        this.playlistDraft = { ...next };
      },
      immediate: true
      // deep: false
    }
  },
  mounted() {
    this.$refs["placki"].focus();
  },
  data: () => ({
    playlistDraft: {}
  })
};
</script>

<style>
</style>