<template>
  <!-- dl>(dt{Name}+dd{value})*3-->

  <div>
    <dl>
      <dt>Name:</dt>
      <dd :title="playlist.name">{{ playlist.name }}</dd>
      <!-- <dd v-text="playlist.name"></dd> -->
      <!-- <dd v-html="playlist.name"></dd> -->

      <dt>Public:</dt>
      <!-- <dd>{{ playlist.public ? 'Yes' : 'No' }}</dd> -->
      <dd>{{ playlist.public | yesno | uppercase }}</dd>

      <dt>Description:</dt>
      <dd>{{ playlist.description }}</dd>
    </dl>

    <button @click="edit">Edit</button>
  </div>
</template>

<script>
export default {
  // props:['playlist'],
  props:{
    playlist:{
      type: Object,
      required:true
    }
  },
  methods:{
    edit(){
      this.$emit('edit')
    }
  },
  data: () => ({
    // playlist: {
    //   name: " Test ",
    //   public: true,
    //   description: "Opis"
    // }
  })
};
</script>