
<template>
  <form class="input-group mb-3" @submit.prevent="search()">
    <input
      type="text"
      class="form-control"
      v-bind="$attrs"
      v-on="$listeners"
      :value="query"
      @input="query = $event.target.value"
    />

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>
</template>

<script>
export default {
  props: ["value"],
  // model:{
  //   prop:'value',
  //   event:'modelInput'
  // },
  inheritAttrs: false, // except for class and style
  watch: {
    value: {
      handler(next) {
        this.query = next;
      },
      immediate: true
    }
  },
  data: () => ({
    query: ""
  }),
  mounted() {
    console.log(this.$attrs);
    console.log(this.$listeners);
  },
  methods: {
    search() {
      // @search =   $event
      this.$emit("search", this.query);
    }
  }
};
</script>

<style>
</style>