<template>
  <div class="list-group">
    <div class="list-group-item" v-for="track in tracks" :key="track.id">
      {{track.name}}
      <span class="float-right btn btn-default" @click="$emit('play',track)">Play</span>
      <span class="float-right">{{ track.duration_ms | duration }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({}),
  props: {
    tracks: {
      type: Array,
      required: true
    }
  },
  methods: {},
  filters: {
    duration(value) {
      // console.log("znowu");
      const time = new Date(value);
      return `${
        //
        ("0" + time.getUTCHours()).slice(-2)
      }:${
        //
        ("0" + time.getUTCMinutes()).slice(-2)
      }:${
        //
        ("0" + time.getUTCSeconds()).slice(-2)
      }`;
    }
  }
};
</script>

<style>
</style>