<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link class="navbar-brand" :exact="true" to="/">MusicApp</router-link>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <router-link class="nav-link" to="/home" active-class="active placki">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/search">Search</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/playlists">Playlists</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/home/about">About</router-link>
            </li>
          </ul>
          <span class="navbar-text" v-if="user">Welcome, {{user.display_name}}</span>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.css";
</style>

<script>
import { mapGetters } from "vuex";
export default {
  computed: { ...mapGetters(["user"]) },
  created() {
    // this.$http.get("me").then(resp => {
    //   this.$root.user = resp.body;
    // });
    this.$store.dispatch("login");
  },
  data: () => ({})
};
</script>